<div class="d-flex justify-content-center my-5">
  <h1>Relatório de acompanhamento de clientes</h1>
</div>
<!-- div pai selecione mes -->
<div class="bg-secondary p-5 text-white">
  <div class="d-flex justify-content-center">
    <!-- div Selecione o mes -->
    <div class="d-flex align-items-center">
      <div class="d-flex flex-column align-items-center">
        <label for="selecioneMes">Selecione o mês:</label>
        <input type="date" name="selecioneMes" id="selecioneMes" class="mb-2" [(ngModel)]="date">
        <div>
          <button type="button" (click)="visualizarRelatorio()" class="btn btn-success btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar"
              viewBox="0 0 16 16">
              <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z">
              </path>
            </svg>
            Visualizar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Puxar a relatorio de acompanhamento de clientes -->
<!-- Mais compras realizadas -->
<div class="mt-5">
  <div class="row mb-1">
    <div class="col">Mais compras realizadas</div>
  </div>
  <div class="row mb-1">
    <div class="col">Nome</div>
    <div class="col">CPF</div>
    <div class="col">Quantidade</div>
  </div>
  <app-mais-compras-realizadas *ngFor="let cliente of listaComprouMais" [cliente]="cliente"></app-mais-compras-realizadas>
</div>
<!-- Compras de maior Valor -->
<div class="mt-5">
  <div class="row mb-1">
    <div class="col">Compras de maior valor</div>
  </div>
  <div class="row mb-1">
    <div class="col">Nome</div>
    <div class="col">CPF</div>
    <div class="col">Valor</div>
  </div>
  <app-compras-maior-valor *ngFor="let cliente of listaComprasMaiorValor" [cliente]="cliente"></app-compras-maior-valor>
</div>
<!-- Não realizaram compras -->
<div class="mt-5">
  <div class="row mb-1">
    <div class="col">Não realizaram compras</div>
  </div>
  <div class="row mb-1">
    <div class="col">Nome</div>
    <div class="col">CPF</div>
    <div class="col">Numero cartão</div>
  </div>
  <app-nao-realizaram-compras *ngFor="let cliente of listaNaoComprou" [cliente]="cliente"></app-nao-realizaram-compras>
</div>

