<div class="row mb-1">
  <div class="col">{{ cartao.numberCard }}</div>
  <div class="col">{{ cartao.name }}</div>
  <div class="col">{{ cartao.limit }}</div>
  <div class="col">{{ cartao.date }}</div>
  <div class="col d-flex">
    <button (click)="alterarLimite()" type="button" class="btn btn-secondary btn-sm">Alterar limite</button>
    <button (click)="verFatura()" type="button" class="btn btn-warning btn-sm mx-2">Ver fatura</button>
    <ng-container *ngIf="cartao.status">
      <button (click)="ativarDesativarCartao()" type="submit" class="btn btn-danger btn-sm">Cancelar</button>
    </ng-container>
    <ng-container *ngIf="!cartao.status">
      <button (click)="ativarDesativarCartao()" type="submit" class="btn btn-success btn-sm">Ativar</button>
    </ng-container>
  </div>
</div>
